#page * {
    font-family: 'Poppins', sans-serif;
}

input::placeholder{
    font-size: 15px;
}

#siteName {
    font-family: 'Kaushan Script';
}

#svg{
    width: 300px;
    height: 300px;
    margin-top: 70px;
}